@page
@model Cursuri.Pages.Courses.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Course.ID" />
            <div class="form-group">
                <label asp-for="Course.Title" class="control-label"></label>
                <input asp-for="Course.Title" class="form-control" />
                <span asp-validation-for="Course.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.ProfessorID" class="control-label">Profesor</label>
                <select asp-for="Course.ProfessorID" class="form-control" asp-items="ViewBag.ProfessorID"></select>
                <span asp-validation-for="Course.ProfessorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Price" class="control-label"></label>
                <input asp-for="Course.Price" class="form-control" />
                <span asp-validation-for="Course.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.StartingDate" class="control-label"></label>
                <input asp-for="Course.StartingDate" class="form-control" />
                <span asp-validation-for="Course.StartingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.CityID" class="control-label">Oras</label>
                <select asp-for="Course.CityID" class="form-control" asp-items="ViewBag.CityID">
                </select>
                <span asp-validation-for="Course.CityID" class="text-danger"></span>
            </div>
            <div class="form-group">
            <div class="table">
                <table>
                <tr>
                    @{
                        int cnt = 0;
                             foreach (var cat in Model.AssignedGradeDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                        {
                                         @:</tr><tr>
                                        }
                                         @:<td>
                                         <input type="checkbox"
                                            name="selectedGrades"
                                            value="@cat.GradeID"
                                            @(Html.Raw(cat.Assigned ?
                                            "checked=\"checked\"" : "")) />
                                        @cat.GradeID @: @cat.Name
                                    @:</td>
                                }
                             @:</tr>
                           }
                </table>
            </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
